
h3{
    animation: appear 2s ease 0s 1 normal ;
}

h1{
    animation: appear 2s ease 0s 1 normal ;

}

h2{
    animation: appear 2s ease 0s 1 normal ;

}
html{
    background-color: black;
    color: rgb(0, 255, 0);
    text-align: center;
}
input{
    background-color: rgba(214, 214, 214, 0.787);
    color:  black;
    text-align: center;
    width: 100%;
    animation: appear 2s ease 0s 1 normal ;
    

}

button{
    background-color: rgba(214, 214, 214, 0.787);
    width: 25%;
    text-align: center;
    padding: .3%;
    margin: 2%;
    animation: appear 2s ease 0s 1 normal ;
}
hr{
    background-color: rgb(0, 128, 0);
    color: rgb(0, 131, 0);
    width: 100%;
    text-align: center;
    padding: .2%;
}

label{
    animation: appear 3s ease 0s 1 normal ;

}

@keyframes appear {
  0%{
	opacity: 0;
	transform: scale3d(0.3, 0.3, 0.3);
  }
  60%{
	opacity: 1;
	transform: scale3d(1,1,1);
  }
}